.consultation-page {
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 100vw;
    z-index: 100;
    position: relative;
    color: #2d2d2d;
}

.back-light {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
}

.cons-header {
    position: relative;
    z-index: 3;
}